<!DOCTYPE html>
<html>
<head>
	<title>Vue.js 3</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
	<div id="app">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h1 class="text-center m-3">Course</h1>
				<hr>
				<p>{{ course }}</p>
				<p>{{ author }}</p>
				<p>{{ description }}</p>
				<p>{{ videos }}</p>
				<hr>
				<p>
					Course: <input v-model="course">
				</p>
				<p>
					Author: <input v-model="author">
				</p>
				<p>
					Description: <input v-model="description">
				</p>
				<p>
					Videos: <input type="number" v-model="videos">
				</p>
			</div>
		</div>
	</div>

	<script src="vue3.0.7.js"></script>
	<script>
		const app = Vue.createApp({
			data() {
				return {
					course: "Javascript",
					author: "Mehran Tarif",
					description: "I love javascript!",
					videos: 101,
				}
			}
		}).mount("#app")
	</script>
</body>
</html>